name: CI

env:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: password

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/ci.yml
      - sql_scripts/**
      - docker/**
      - src/**
      - package.json
      - yarn.lock
  pull_request:
    branches:
      - main

  # add manual trigger
  workflow_dispatch:

jobs:
  continuous-integration:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo and submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive

      # run tests
      - run: yarn install
      - run: yarn lint
      - run: yarn test

      # test docker build
      - name: Docker pull latest images
        working-directory: ./docker
        run: docker-compose pull

      - name: Docker build
        working-directory: ./docker
        run: docker-compose -f ./docker-compose.yml -f ./docker-compose.prod.yml build
